<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sea Your Thoughts</title>

    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/reflection.css">
    <link rel="stylesheet" href="styles/collection.css">
    <link rel="stylesheet" href="styles/about.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Julee&family=Merienda:wght@300;400;500;600;700;800;900&family=Skranji:wght@400;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Home<img src="images/icons/compass.png" class="header-icons"></a></li>
            <li><a href="deep-dives">Deep Dives<img src="images/icons/shark.png" class="header-icons"></a></li>
            <li><a href="logbook">Logbook<img src="images/icons/parchment.png" class="header-icons"></a></li>
            <li><a href="purpose" class="purpose">Purpose<img src="images/icons/ship-wheel.png" class="header-icons ship-wheel"></a></li>
        </ul>
    </header>
